{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "View" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">
			<h5>{{ catalog.category }}</h5>
			<h4 class="card-title">{{ catalog.catalog_title }}</h4>								
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-4">
					{% with catalog.id|stringformat:"02d" as zero_id %}
						<img style="width:100%;" 
							 src="{% static 'images/catalog'|add:zero_id|add:'.jpg' %}" 
							 alt="{{ catalog.title }}">
					{% endwith %}
					<p><div class="Stars" style='--rating: {{ catalog.avg_rating| stringformat:".1f" }};'></div></p>												
				</div>
				<div class="col-md-8">
					<p>{{ catalog.details | linebreaks}}</p>
					<h4>{{ catalog.price | stringformat:"1.0f" }} 〒</h4>	
				</div>				
			</div>
		</div>
		<div class="card-footer">
		</div>
	</div>
	<div class="div-button-center">
		<a class="btn btn-outline-info" style="width:120px" href="{% url 'catalog_index' %}">{% trans "Back" %}</a> 	
	</div>
</div>
{% endblock content %}